app_database:
  hosts:
    ${app_database_ip_address}:
      ansible_host: ${app_database_ip_address}
      ansible_user: ${username}
      ansible_ssh_private_key_file: ssh_key

app_server:
  hosts:
    %{ for addr in app_server_ip_addresses ~}
${addr}:
      ansible_host: ${addr}
      ansible_user: ${username}
      ansible_ssh_private_key_file: ssh_key
    %{ endfor ~}

app_client:
  hosts:
    %{ for addr in app_client_ip_addresses ~}
${addr}:
      ansible_host: ${addr}
      ansible_user: ${username}
      ansible_ssh_private_key_file: ssh_key
    %{ endfor ~}

balancer_server:
  hosts:
    ${balancer_server_ip_address}:
      ansible_host: ${balancer_server_ip_address}
      ansible_user: ${username}
      ansible_ssh_private_key_file: ssh_key