nodejs_version: ${nodejs_version}
public_url: ${public_url}
api_url: ${api_url}

app_database_vpc_ip_address: ${app_database_vpc_ip_address}
app_database_ip_address: ${app_database_ip_address}
app_database_port: ${app_database_port}
app_server_ip_address: ${app_server_ip_address}
app_server_port: ${app_server_port}
app_client_ip_address: ${app_client_ip_address}
app_client_vpc_ip_address: ${app_client_vpc_ip_address}
app_client_port: ${app_client_port}
balancer_server_ip_address: ${balancer_server_ip_address}